[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = main

[submodule "shell/zsh-autosuggestions"]
	path = shell/zsh/.zim/modules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
	ignore = dirty

[submodule "shell/zsh/.zim/modules/spaceship"]
	path = shell/zsh/.zim/modules/spaceship
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
	branch = master
	ignore = dirty
